<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/tenders">Tenders</a></li>
        <li><a href="/vigilance">Vigilance</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
